{% extends "base.html.twig" %}

{% block content %}

    <main>

        <div class="margin">
        
            <h2 class="center" id="h2">Accueil</h2>

            <button class="right" id="create"><a href="{{ path('article_create') }}">Ajouter un article</a></button>

        </div>

        <section class="center">
        {% for article in articles %}
            <article id="article">

             <h3 id="h3">{{ article.title }}</h3>

             <p id="onleft">{{ article.content }}</p>

             <img src="{{ asset('assets/image' ~ article.image) }}" alt="">

             <br>

             <span>Catégorie de l'article :{{ article.subcategories.category.name }}</span>

             <span>Mot clé de recherche :{{ article.subcategories.name }}</span>

             <br>

             <button><a href="{{ path('article', {'id':article.id}) }}">Voir plus</a></button>

             <button><a href="{{ path('article_delete', {'id':article.id}) }}">Supprimer l'article</a></button>

             <button><a href="{{ path('article_update', {'id':article.id}) }}">Modifier l'article</a></button>

            </article>
        {% endfor %}
        
        </section>

        


    </main>

{% endblock %}