{% extends "base.html.twig" %}

{% block content %}

    <main>

        <h2>Accueil</h2>

        <button><a href="{{ path('article_create') }}">Ajouter un article</a></button>

        <section>
        {% for article in articles %}
            <article>

             <h3>{{ article.title }}</h3>

             <p>{{ article.content }}</p>

             <img src="{{ asset('assets/media/img') ~ article.image }}" alt="">

             <span>Catégorie de l'article :{{ article.subcategories.category.name }}</span>

             <span>Mot clé de recherche :{{ article.subcategories.name }}</span>

             <button><a href="{{ path('article', {'id':article.id}) }}">Voir plus</a></button>

             <button><a href="{{ path('article_delete',{'id':a.id}) }}">Supprimer l'article</a></button>

             <button><a href="{{ path('article_update',{'id':a.id}) }}">Modifier l'article</a></button>

            </article>
        {% endfor %}
        
        </section>

        


    </main>

{% endblock %}